[Unit]
Description=deepin Update Manager

[Service]
Type=dbus
BusName=org.deepin.UpdateManager1
User=deepin-update-manager
Sockets=dum-upgrade-stdout.socket
FileDescriptorStoreMax=1024
FileDescriptorStorePreserve=yes
ExecStart=/usr/libexec/deepin-update-manager
