[Unit]
Description=deepin Immutable Upgrade

[Service]
Type=oneshot
ExecStart=/usr/bin/date
#Sockets=dum-upgrade-stdout.socket
#StandardOutput=fd:dum-upgrade-stdout
#StandardError=fd:dum-upgrade-stdout
StandardOutput=file:/run/dum/upgrade-stdout
StandardError=file:/run/dum/upgrade-stdout
