[Unit]
Description=Offline System Update using Deepin Update Manager
Documentation=man:systemd.offline-updates(7)

FailureAction=reboot
DefaultDependencies=no
Requires=sysinit.target
After=sysinit.target
After=system-update-pre.target
Before=system-update.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/deepin-update-manager --offline
