[Unit]
Description=DUM upgrade stdout

[Socket]
Service=deepin-update-manager.service
ListenStream=/run/dum/upgrade-stdout
ReceiveBuffer=8M
FileDescriptorName=dum-upgrade-stdout
RemoveOnStop=true
